.chartBox{
    display: flex;
    height: 100%;

    .boxInfo{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1{
            margin-top: 200px;
            font-size: 30px;
        }
    }

    .title{
        display: flex;
        align-items: center;
        gap: 10px;

        span{
            font-size: 35px;
        }
    }

    .chartInfo{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chart{
            height: 80%;
            width: 100%;
        }

        .texts{
            display: flex;
            flex-direction: column;
            text-align: right;

            .percentage{
                font-weight: bold;
                font-size: 20px;
            }

            .duration{
                font-size: 16px;
            }
        }
    }
}
