.users{
    .dataGrid{
        background: white;
    }
    .search{
        padding: 10px;
    }
    .searchButton{
        margin-top: 20px;
        margin-right: 10px;
    }
    .clearButton{
        margin-top: 20px;
    }
}